.number {
    display: flex;
    align-items: center;
    width: 22%;
    padding-top: 5px;
    padding-bottom: 5px;

    &__icon {
        width: 40px;
        height: 40px;
        font-size: 40px;
        margin-right: 30px;
        color: white;
        text-align: center;
        vertical-align: center;
    }
    &__data {
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        padding-right: 10px;
    }
    &__numeric {
        padding-bottom: 10px;
        font-size: 18px;
    }
}

@media (max-width: $laptopXs) {
    .number {
        width: 40%;
        margin: 0 auto;
    }
}
@media (max-width: $mobileL) {
    .number {
        width: 60%;
        margin: 0 auto;
    }
}