.footer {
    display: flex;
    align-items: center;
    height: 280px;
    background-color: $black;
    font-size: 15px;

    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__contacts {
        padding-left: 150px;
    }
    &__menu {
        display: flex;
        justify-content: space-between; 
        flex-wrap: wrap;
        padding-left: 50px;

        &__list {
            padding: 0 25px;
        }
    }
    &__socials {
        padding-right: 30px;
    }

    a {
        font-family: 'Nunito Sans', sans-serif;
        color: $text-gray;
    }
    li, p {
        padding-bottom: 4px;
    }
    h2 {
        padding-bottom: 20px;
        font-size: 18px;
        color: $light-gray;
    }
}