mixin numberInfo(icon, numeric, title)
    .number
        .number__icon
            i(class= icon)
        .number__data
            .number__numeric= numeric
            .number__title= title

.numbers    
    .numbers__container.container
        +numberInfo('fas fa-briefcase','548','Projects Completed')
        +numberInfo('fas fa-clock','1465','Working Hours')
        +numberInfo('fas fa-star','612','Positive Feedbacks')
        +numberInfo('fas fa-heart','735','Happy Clients')                       