.numbers    
    .numbers__container.container
        - 
            var number = {
                numeric: '548',
                title: 'Projects Completed'
            }
        include ../number/module
        - 
            var number = {
                numeric: '1465',
                title: 'Working Hours'
            }
        include ../number/module
        - 
            var number = {
                numeric: '612',
                title: 'Positive Feedbacks'
            }
        include ../number/module
        - 
            var number = {
                numeric: '735',
                title: 'Happy Clients'
            }
        include ../number/module                        