.numbers {
    background-color: $turquoise;

    &__container {
        height: 240px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}