body {
    font-family: 'Montserrat', sans-serif;
    color: $black;
    font-size: 12px;
}
body * {
    font-family: 'Montserrat', sans-serif;
}
a {
    color: $black;
}
p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: $text-gray;
}
h1 {
    font-size: 30px;
    font-weight: bold;
}
input, textarea {
    border: none;
    box-sizing: border-box;
    margin: 15px 0px;
    padding: 14px 20px;
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
    color: $black;
    resize: none;
}
.base-button {
    padding: 20px 40px;
    box-sizing: border-box;
    border: 0;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: $turquoise;
    color: white;
    cursor: pointer;
}
.base-button:hover {
    background-color: $darkturquoise;
}
.container {
    margin: 0 auto;
    max-width: 1160px;
    width: 100%;
    box-sizing: border-box;
}

.fas, .far {
    font-size: 36px;
}
@media (max-width: $desktop) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (max-width: $mobileL) {
    .container {
        padding-right: 5px;
        padding-left: 5px;
    }
}