body{
    font-family: 'Montserrat', sans-serif;
    color: $black;
    font-size: 12px;
}
a {
    color: $black;
}
p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: $text-gray;
}
h1 {
    font-size: 30px;
    font-weight: bold;
}
.base-button {
    padding: 20px 40px;
    box-sizing: border-box;
    border: 0;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: $turquoise;
    color: white;
    cursor: pointer;

}
.container {
    margin: 0 auto;
    max-width: 1160px;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: $laptopLg) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (max-width: $mobile) {
    .container {
        padding-right: 0;
        padding-left: 0;
    }
}