.banner {
    background: url(./../img/banner.jpg) 60% no-repeat;
    background-size: cover;

    &__container {
        height: 560px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__data {
        width: 45%;
        padding-bottom: 100px;
    }
    &__title {
        padding-bottom: 20px;
        font-size: 38px;
    }
    &__text {
        font-size: 18px;
        line-height: 28px;
        padding-bottom: 55px;
    }
    &__button {
        margin: 5px;
    }
}

@media (max-width: $laptop) {
    .banner {
        &__data {
            width: 60%;
        }
    }
}
@media (max-width: $mobileL) {
    .banner {
        &__data {
            width: 100%;
        }
    }
}

.about {
    padding-bottom: 10px;

    &__title {
        margin: 0 auto;
        width: 100%;
        max-width: 620px;
        padding: 90px 0 40px;
        text-align: center;
    
        &__name {
            padding-bottom: 30px;
        }
        &__span {
            position: relative;
            margin: 40px auto;
            width: 40%;
            padding-bottom: 10%;
        }
        &__signature {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            object-fit: cover;
            background: url(./../img/signature.png) no-repeat;
            background-size: contain;
            background-position: top; 
        }
    }
}

.skills {
    background: url(./../img/skills.jpg) 0% no-repeat;
    background-size: cover;

    &__container {
        height: 560px;
        display: flex;
        align-items: center;
    }
    &__data {
        width: 40%;
        padding-top: 30px;
        padding-right: 10px;
        box-sizing: border-box;
    }
    &__title {
        padding-bottom: 30px;
    }
    &__item {
        padding-bottom: 40px;

        &__data {
            display: flex;
            padding-bottom: 15px;
            font-weight: bold;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }
    &__name {
        padding-right: 15px;
    }
    &__diagram {
        height: 3px;
        background-color: $text-gray;

        &__percentage {
            height: 3px;
            background-color: $turquoise;
        }
    }
}

@media (max-width: $laptop) {
    .skills {
        &__data {
            width: 60%;
        }
    }
}
@media (max-width: $mobileL) {
    .skills {
        &__data {
            width: 100%;
        }
    }
}

.work {
    background-color: $gray;

    &__works {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: $wrapL;
    }

    &__load {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &__link {
            padding: 5px;
            color: $text-gray;
            text-transform: uppercase;
            font-weight: bold;
        }
        &__link:hover {
            color: $text-gray-hover;
        }
    }
    &__extra-works {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: $wrapL;
        display: none;
    }
}
.process {
    padding-bottom: 100px;

    &__span {
        position: relative;
        width: 100%;
        padding-bottom: 48%;
    }
    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-fit: cover;
        background-color: $dark-gray;
        cursor: pointer;
        
        video[poster]{
            object-fit: cover;
            }
    }
}

.services {
    background-color: $dark-gray;
    padding: 65px 0px;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}


.order {
    background-color: $gray;

    &__form {
        width: 100%;
        max-width: 670px;
        margin: 0 auto;
        padding-bottom: 80px;
    }
    &__input {
        &__name {
            width: 48%;
        }
        &__mail {
            width: 48%;
        }
        &__title {
            width: 100%;
        }
    }
    &__textarea {
        width: 100%;
        height: 170px;
    }
    &__button {
        margin: 15px auto;
    }
    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .title {
        padding-bottom: 0px;
    }
}

@media (max-width: $mobileL) {
    .order{
        &__input {
            &__name {
                width: 100%;
            }
            &__mail {
                width: 100%;
            }
        }
    }
}

.testimonials {
    height: 490px;
    background-color: $turquoise;
    display: flex;
    align-items: center;
    justify-content: center;

    &__slider {
        .slick-list {
            max-width: 800px;
            padding-top: 100px;
            padding-bottom: 70px;
        }
    }
    &__text {
        color: white;
    }
    &__author {
        color: white;
    }
}
@media (max-width: $mobileL) {
    .testimonials {
        height: initial;
        
        .slick-dots { 
            padding-bottom: 10px;
        }
    }
}

.clients {
    margin-top: 60px;
    margin-bottom: 60px;
}

.designer {
    background-color: $gray;

    .title {
        padding: 95px 0 85px;
    
        &__name {
            font-size: 36px;
            padding-bottom: 25px;
        }
        &__text {
            font-size: 18px;
        }
    }
}

.about-me {

    &__banner {
        background: url(./../img/author-photo.jpg) 50% 20% no-repeat;
        background-size: cover;
        
        .title {
            padding: 110px 0 105px;
            color: white;

            &__name {
                font-size: 36px;
                padding-bottom: 25px;
            }
            &__text {
                color: white;
                font-size: 18px;
            }
        }
    }
    &__container {
        display: flex;
        justify-content: flex-end;
        
        .banner {
            &__data {
                padding-top: 120px;
                .about__title__text {
                    padding-bottom: 20px;
                }
                .about__title__span {
                    margin: 40px 0;
                    width: 60%;
                    padding-bottom: 15%;
                }
            }
            @media (min-width: $laptopLg){
                &__data {
                    width: 40%;
                }
            }
        }

    }
    &__order {
        .title {
            padding-bottom: 30px;
        }
        .order {
            &__button {
                display: flex;
                justify-content: center;
                margin: 0 auto;
                margin-bottom: 100px;
            }
        }
    }
}

.about-description {
    background: url(./../img/about-me.jpg) 100% 0% no-repeat;
    background-size: cover;
}
