@import './../../pug/modules/header/style.scss';
@import './../../pug/modules/footer/style.scss';
@import './../../pug/modules/title/style.scss';
@import './../../pug/modules/numbers/style.scss';
@import './../../pug/modules/number/style.scss';
@import './../../pug/modules/works/style.scss';
@import './../../pug/modules/service/style.scss';
@import './../../pug/modules/client/style.scss';
@import './../../pug/modules/testimonial/style.scss';