@import './../../pug/modules/header/style.scss';
@import './../../pug/modules/footer/style.scss';
@import './../../pug/modules/title/style.scss';
@import './../../pug/modules/numbers/style.scss';
@import './../../pug/modules/number/style.scss';