$wrap: 1360px;
$desktop: 1200px;
$laptopLg: 1100px;
$hdr: 1030px;
$laptop: 985px;
$laptopXs: 860px;
$tablet: 768px;
$mobileLg: 600px;
$mobileL: 560px;
$mobile: 480px;
$mobileXs: 400px;


$light-gray: #f8f9f9;
$gray: #f5f5f5;
$dark-gray: #eeeeee;//for image`s background
$text-gray: #a5a5a5;
$black: #141414;

$turquoise: #10c9c3;