doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Piroll
        link(href="https://fonts.googleapis.com/css?family=Montserrat:500,700|Nunito+Sans", rel="stylesheet")
        link(href="./../build/static/css/main.css", rel="stylesheet") 
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
    body
        .banner
            include ../modules/header/module
            .banner__container.container
                .banner__data
                    h1.banner__title We Design and Develop
                    p.banner__text We are a new design studio based in USA. We have over 20 years of combined experience, and know a thing or two about designing websites and mobile apps.
                    a.banner__button.base-button Contact Us
        a(name='about')                    
        .about.container
            .about__title 
                h1.about__title__name About Us
                p.about__title__text Divide have don't man wherein air fourth. Own itself make have night won't make.
                p.about__title__text A you under Seed appear which good give. Own give air without fowl moveth dry first heaven fruit, dominion she'd won't very all. 
                .about__title__span
                    .about__title__signature
        //- mixin for skills list
        mixin skills(name, percentage)
            li.skills__item
                .skills__item__data
                    .skills__name= name 
                    .skills__percentage= percentage
                .skills__diagram
                    .skills__diagram__percentage(style="width: "+percentage)
        //- end of mixin
        .skills
            .skills__container.container
                .skills__data
                    h1.skills__title Professional Skills
                    ul.skills__list
                        +skills('UI/UX Design', '75%')
                        +skills('Web Development', '90%')
                        +skills('Marketing', '65%')  
        include ../modules/numbers/module
        a(name='work')
        .work
            .work__works
                -
                    var works = {
                        image: 'product-1.jpg'
                    }
                include ../modules/works/module
                -
                    var works = {
                        image: 'product-2.jpg'
                    }
                include ../modules/works/module
                -
                    var works = {
                        image: 'product-3.jpg'
                    }
                include ../modules/works/module
                -
                    var works = {
                        image: 'product-4.jpg'
                    }
                include ../modules/works/module
                -
                    var works = {
                        image: 'product-5.jpg'
                    }
                include ../modules/works/module
                -
                    var works = {
                        image: 'product-6.jpg'
                    }
                include ../modules/works/module
                -
                    var works = {
                        image: 'product-7.jpg'
                    }
                include ../modules/works/module
                -
                    var works = {
                        image: 'product-8.jpg'
                    }
                include ../modules/works/module
            .work__extra-works
                -
                    var works = {
                        image: 'product-9.jpg'
                    }
                include ../modules/works/module
                -
                    var works = {
                        image: 'product-10.jpg'
                    }
                include ../modules/works/module
                -
                    var works = {
                        image: 'product-11.jpg'
                    }
                include ../modules/works/module
                -
                    var works = {
                        image: 'product-12.jpg'
                    }
                include ../modules/works/module            
            .work__load
                a.work__load__link Load More Work
        a(name='process')
        .process.container
            -
                var title = {
                    name: 'Our Work Process',
                    text: 'Was years it seasons was there form he in in them together over that, third sixth gathered female creeping bearing behold years.'
                }
            include ../modules/title/module
            .process__span
                .process__video
                    video(controls width="100%" height="100%" poster='static/img/video-preview.jpg')
                        source(src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4")
        a(name='services')
        .services
            .services__container.container
                - 
                    var service = {
                        icon: 'fas fa-jedi',
                        title: 'UI / UX Design',
                        text: 'Be set fourth land god darkness make it wherein own'
                    }
                include ../modules/service/module 
                - 
                    var service = {
                        icon: 'fas fa-bowling-ball',
                        title: 'Web Development',
                        text: "A she'd them bring void moving third she'd kind fill"
                    }
                include ../modules/service/module 
                - 
                    var service = {
                        icon: 'fas fa-mobile',
                        title: 'App / Mobile',
                        text: "Dominion man second spirit he, earth they're creeping"
                    }
                include ../modules/service/module 
                - 
                    var service = {
                        icon: 'fas fa-gamepad',
                        title: 'Game Design',
                        text: 'Morning his saying moveth it multiply appear life be'
                    }
                include ../modules/service/module 
                - 
                    var service = {
                        icon: 'fas fa-plane',
                        title: 'SEO / Marketing',
                        text: "Give won't after land fill creeping meat you, may"
                    }
                include ../modules/service/module 
                - 
                    var service = {
                        icon: 'fas fa-star',
                        title: 'Photography',
                        text: 'Creepeth one seas cattle grass give moving saw give'
                    }
                include ../modules/service/module 
                - 
                    var service = {
                        icon: 'fas fa-magic',
                        title: 'Graphic Design',
                        text: 'Open, great whales air rule for, fourth life whales'
                    }
                include ../modules/service/module 
                - 
                    var service = {
                        icon: 'fas fa-fill-drip',
                        title: 'Illustrations',
                        text: "Whales likeness hath, man kind for them air two won't"
                    }
                include ../modules/service/module 
        a(name='testimonials')  
        .testimonials
            .testimonials__container.container
                .testimonials__slider
                    - 
                        var testimonial = {
                            text: '"Outstanding job and exceeded all expectations. It was a pleasure to work with them on a sizable first project and am looking forward to start the next one asap."',
                            author: 'Michael Hopkins'
                        }
                    include ../modules/testimonial/module
                    - 
                        var testimonial = {
                            text: '"It was a pleasure to work with them on a sizable first project and am looking forward to start the next one asap. Outstanding job and exceeded all expectations."',
                            author: 'Hopkins Michael'
                        }
                    include ../modules/testimonial/module
                    - 
                        var testimonial = {
                            text: '"Outstanding job and exceeded all expectations. It was a pleasure to work with them on a sizable first project."',
                            author: 'Mipkins Hochael'
                        }
                    include ../modules/testimonial/module
        .clients.container 
            .clients__slider
                - 
                    var client = {
                        image: 'client-collection.png'
                    }
                include ../modules/client/module     
                - 
                    var client = {
                        image: 'client-mountain.png'
                    }
                include ../modules/client/module
                - 
                    var client = {
                        image: 'client-mountainbike.png'
                    }
                include ../modules/client/module
                - 
                    var client = {
                        image: 'client-vintage.png'
                    }
                include ../modules/client/module
                - 
                    var client = {
                        image: 'client-collection.png'
                    }
                include ../modules/client/module
                - 
                    var client = {
                        image: 'client-mountain.png'
                    }
                include ../modules/client/module
                - 
                    var client = {
                        image: 'client-mountainbike.png'
                    }
                include ../modules/client/module
                - 
                    var client = {
                        image: 'client-vintage.png'
                    }
                include ../modules/client/module 
        a(name='contact')
        .order
            .order__container.container
                -
                    var title = {
                        name: 'Need a Project?',
                        text: 'Let us know what you`rw looking for in agency. We`ll take a look and see if this could be the start of something beautiful. '
                    }
                include ../modules/title/module  
                .order__form
                    form.form(action="#")
                        input.order__input__name(type="text", name="Name", placeholder="Your Name")
                        input.order__input__mail(type="text", name="Email", placeholder="Your Email")
                        input.order__input__title(type="text", name="Title", placeholder="Your Title")
                        textarea.order__textarea(name="Comment", placeholder="Your Comment")
                        button.order__button.base-button(type="submit") Send Message
        include ../modules/footer/module
        script(type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js")
        script(type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js")
        script(type="text/javascript" src="./../build/static/js/libs/slick.min.js")
        script(src="./../build/static/js/main.js")