mixin headerMenuLink(name, href)
    li.header__menu__item
        a(class!=attributes.class href=href).header__menu__link= name
        
.header
    .header__container.container
        .header__logo
        .header__menu
            ul.header__menu__list
                +headerMenuLink('Home', '#')(class="active")
                +headerMenuLink('About', '#')
                +headerMenuLink('Work', '#')
                +headerMenuLink('Process', '#')
                +headerMenuLink('Services', '#')
                +headerMenuLink('Testimonials', '#')
                +headerMenuLink('Contact', '#')  
                                               