.header {
    &__container {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 200;
    }
    &__logo {
        width: 40px;
        height: 40px;
        font-size: 40px;
        padding-bottom: 15px;
        cursor: pointer;
        z-index: 200;
        left: 5px;
    }
    &__logo:hover {
        color: $darkturquoise;
    }
    &__menu {
        &__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__item {
            margin-left: 16px;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
        }
        &__link {
            padding: 6px;
        }
        &__link:hover {
            color: $darkturquoise;
        }
        &__dropdown {
            width: 40px;
            height: 40px;
            color: $black;
            cursor: pointer;
            display: none;
            z-index: 200;
            right: 5px;
        }
        &__dropdown:hover {
            color: $darkturquoise;
        }
    }

    &__mobile {
        position: fixed;
        width: 100%;
        z-index: 100;
        top: 99px;
        left: 0;
        height: 100%;
        background-color: white;
        
        &__container {
            display: none;

            .header {
                &__mobile {
                    display: flex;
                    justify-content: center;
                }
                &__menu {
                    &__item {
                        text-align: center;
                        margin: 10px;
                    }
                    &__link {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}

.dropdown {
    &__close {
        display: none;
    }
}
@media (max-width: $tablet) {
    .header {
        &__menu {
            display: none;
        }
    }
    .dropdown {
        &__open {
            display: block;
        }
    }
}
@media (min-width: $tablet+1px) {
    .header {
        &__container {
            position: static!important;
            background-color: transparent!important;
        }
        &__mobile {
            &__container {
                display: none!important;
            }
        }
        
    }
    .dropdown {
        &__close {
            display: none!important;
        }
        &__open {
            display: none!important;
        }
    }
}