.header {
    &__container {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        width: 40px;
        height: 40px;
        font-size: 40px;
        padding-bottom: 15px;
        cursor: pointer;
    }
    &__logo:hover {
        color: $darkturquoise;
    }
    &__menu {
        &__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__item {
            margin-left: 16px;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
        }
        &__link {
            padding: 6px;
        }
        &__link:hover {
            color: $darkturquoise;
        }
        &__dropdown {
            width: 40px;
            height: 40px;
            color: $black;
            cursor: pointer;
            display: none;
        }
        &__dropdown:hover {
            color: $darkturquoise;
        }
    }
}

@media (max-width: $tablet) {
    .header {
        &__menu {
            display: none;

            &__dropdown {
                display: block;
            }
        }
    }
}