.order-form
    form.form(action="#")
        input.order-form__input__name(type="text", name="Name", placeholder="Your Name")
        input.order-form__input__mail(type="text", name="Email", placeholder="Your Email")
        input.order-form__input__title(type="text", name="Title", placeholder="Your Title")
        textarea.order-form__textarea(name="Comment", placeholder="Your Comment")
        button.order-form__button.base-button(type="submit") Send Message