.order-form
    form.form(action="#")
        input.order-form__input__name(type="text", name="Name", placeholder="Your Name")
        input.order-form__input__mail(type="text", name="Email", placeholder="Your Email")
        input.order-form__input__title(type="text", name="Title", placeholder="Your Title")
        textarea.order-form__textarea(name="Comment", placeholder="Your Comment")
        a.order-form__button.base-button Send Message
.order__some-container
    .works__increase
        .works__increase__works.order-form__message
            a.works__increase__close.order__close
                i.fas.fa-times 
            .works__text  Your message has been sent!