.service {
    width: 25%;
    text-align: center;
    box-sizing: border-box;
    padding: 30px 20px;

    &__icon {
        width: 50px;
        height: 50px;
        font-size: 50px;
        margin: 0 auto;
        color: $text-gray;
    }
    &__title {
        padding-bottom: 10px;
        padding-top: 20px;
        text-transform: uppercase;
        font-weight: bold;
    }

}

@media (max-width: $laptopXs) {
    .service {
        width: 50%;
    }
}
@media (max-width: $mobileL) {
    .service {
        width: 100%;
    }
}