mixin headerMenuLink(name, href)
    li.header__menu__item
        a(class!=attributes.class href=href).header__menu__link= name
        
.header
    .header__container.container
        a(href='main.html').header__logo
            i.header__logo__icon.far.fa-gem
        .header__menu
            ul.header__menu__list
                +headerMenuLink('Home', 'home.html')
                +headerMenuLink('About', 'about.html')
                +headerMenuLink('Contact', 'contact.html')
        a.header__menu__dropdown
            i.fas.fa-bars